ion-grid {
  height: 100%;
}

ion-row {
  height: 100%;
}

.message-list-col {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.message-list {
  flex: 1;
  overflow-y: auto;

  scroll-behavior: smooth;
  scrollbar-width: thick;
  scrollbar-color: rgba(var(--ion-color-primary-rgb), 0.5) transparent;
}

.message-list-item {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.message-list-item-avatar {
  width: 50px;
  height: 50px;
  align-self: flex-start;
  margin-right: 1rem;
  flex-shrink: 0;
}

.message-list-item-avatar-image {
  width: 100%;
  height: 100%;
}

.message-list-item-text {
  flex: 1;
  overflow: auto;
  margin-right: 1rem;
}

.message-list-item-text-meta {
  display: flex;
  gap: 1rem;
}

.message-list-item-text-username {}

.message-list-item-text-timestamp {
  font-size: 0.8rem;
}

.message-list-item-text-content {
  margin: 0.8rem 0 0 0;
  line-break: break-line;
}


/* 



 */
//# user list col #//

.user-list-col {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.user-list {
  flex: 1;
  overflow-y: auto;
}

.user-list-item {
  div {
    width: 40px;
    height: 40px;
    margin-right: 0.625rem;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

//# input col #//

.message-input-col {

}

.message-textarea-container {
  position: relative;
  display: flex;
  align-items: flex-end;
}

.message-textarea {
  --padding-end: 5rem;
}


.message-send-button {
  position: absolute;
  top: calc(50% - 1.5rem);
  right: 0.5rem;
}